
body {
    background-color:rgb(255, 208, 208);
    background-image: url("../_imgs/fundo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    padding:0;
    display:inline;
    margin-left: auto;
    margin-right: auto;
    width: 6em

}

.bord-menu-principal {
    width: auto;
    height: auto;
    
    background-color:rgba(221, 156, 156, 0.308);
    border-radius: 10px;
    margin-left: 35vw;
    margin-top: 13em;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 1.5px solid;
    border-color: rgba(78, 45, 45, 0.342);


}

.bord-menu-principal ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display:inline-block;

}

.bord-menu-principal li{
    
    display:inline;
    border: 1px solid rgba(78, 45, 45, 0.308);
    border-radius: 10px;
    padding: 0.3em;
    margin-top: 0.6em;
    float: left;

}


.bord-menu-principal li:hover{
    
    text-align: left;
    border: 1px solid rgba(78, 45, 45, 0.308);
    background-color:rgba(221, 156, 156, 0.795);
    padding: 0.3em;
    margin-top: 0.6em;
}

.bord-menu-principal a{
    text-decoration: none;
}

.img-logo{
    margin-left: 40vw;
}


.titulo{
    margin-top: -18em;
    float: left;
}

.titulo h1 {
    border: 7px double rgba(78, 45, 45, 0.575);
    display: inline-block;
    padding: 0.5%;
    margin-top: 1em;
    margin-left: 0.5em;

}

.container1-conteudo1 {
    width: 18em;
    height: auto;
    background: rgba(221, 156, 156, 0.37);
    border-radius: 10px;
    margin-left: 1em;
    margin-bottom: 1px;
}
.conteudo1 h2{
    margin-top: 2em;
    padding-top: 2em;
    margin-left: 0.5em;
}

.conteudo1 ul{
    list-style: none;
    margin-bottom: 10em;
    padding-bottom: 3em;
}

.conteudo1 ul li{
    text-align: left;
    background-color: rgba(221, 156, 156, 0.384);
    margin-top: 1%;
    height: 1.5em;
    width: 70%;
    padding: 0.3em;
    margin-left: 0.5em;
    border-radius: 10px;
}
.conteudo1 ul li:hover{
    text-align: left;
    background-color: rgba(201, 23, 23, 0.384);
    margin-top: 1%;
    height: 1.5em;
    width: 70%;
    padding: 0.3em;
    margin-left: 0.5em;
    border-radius: 10px;
}

.container2-posts {
    width: 50em;
    height: 80vh;
    background-color: rgba(221, 156, 156, 0.384);
    float: left;
    margin-left: 25vw;
    margin-top: -75vh;
    border-radius: 20px;
}

/* contato */

.container1-contato1 {
    width: 18em;
    height: 18em;
    background: rgba(221, 156, 156, 0.37);
    border-radius: 10px;
    margin-left: 1em;
}

.contato1 h2{
    margin-top: 2em;
    padding-top: 2em;
    margin-left: 0.5em;
}

.contato1 ul{
    list-style: none;
    margin-bottom: 10em;
}

.contato1 img{
    float: left;
}

.contato1 ul li{
    text-align: left;
    background-color: rgba(221, 156, 156, 0.384);
    margin-top: 1%;
    height: auto;
    width: 70%;
    padding: 0.3em;
    padding-left: 1em;
    margin-left: 0.5em;
    border-radius: 10px;
    text-align: center;
}


.contato1 ul li:hover{
    text-align: left;
    background-color: rgba(201, 23, 23, 0.384);
    margin-top: 1%;
    height: auto;
    width: 71%;
    padding: 0.3em;
    padding-left: 1em;
    margin-left: 0.5em;
    border-radius: 10px;
    text-align: center;
}

.container2-mapa {
    width: auto;
    height: auto;
    background-color: rgba(221, 156, 156, 0.384);
    float: left;
    padding: 1em;
    margin-left: 30vw;
    margin-top: -25vh;
    border-radius: 20px;
}

/* login */

.container-login {
    
    width: 13em;
    height: 10em;
    background-color: rgba(221, 156, 156, 0.384);
    float: left;
    padding: 1em;
    margin-left: 41vw;
    margin-top: 10vh;
    border-radius: 20px;
    text-align: center;

}

/* Registro */

.container-register {
    width: auto;
    height: auto;
    background-color: rgba(221, 156, 156, 0.384);
    text-align: right;
    float: left;
    padding: 1em;
    margin-left: 38vw;
    margin-top: 10vh;
    border-radius: 20px;
    
}

/* Administração */

